.contenidoInfo{
    display:flex;
    flex-flow:column;
    align-items: center;
    width:100%;
    gap: 20px;
}
.textoInfo{
    background:black;
    padding:20px 0;
    width:100%;
}
.textoInfo *{
    margin:15px;
}
.nombreApi{
    font-family: Amiri;
    font-size:36px;
    font-weight: lighter;
}
pre, code{
    background-color: dimgray;
    padding:5px;
}
code{
    border-radius:5px;
}
