main{
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
td{
    padding:10px;
}
form div{
    display:flex;
    justify-content: center;
}
.boton{
    width: 150px;
    margin: 5px;
}