.resultado{
    width:90%;
    height:400px;
}
.tablaDepartamentos{
    width:100%;
    background:black;
    text-align:center;
    font-size:20px;
    
}

.contenidoTabla{
    height:150px;
}
.contenidoTabla tr, .contenidoTabla td{
    height:50px;
}
.tablaDepartamentos,td,th{
    border:solid white 1px;
    border-collapse: collapse;
}
th:nth-last-child(-n+3), td:nth-last-child(-n+3){
    width:30px;
}

form{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap:25px;
}
.botones{
    display:flex;
}
.boton img{
    height:30px;
    width:30px;
}
h3{
    font-size:24px;
    font-family:Amiri;
    font-weight: lighter;
}
.codigo{
    font-weight:bold;
    color: #8D7DFA;
}
.baja{
    background-color:#87012B;
    color:grey;
}
.baja .codigo{
    color:grey;
}
.menu{
    text-align: center;
}
.menu *{
    margin:10px;
}
button:disabled{
    border:solid grey 1px;
}
button:disabled:hover{
    cursor: default;
    background-color: transparent;
}