.mainUsuarios{
    display:flex;
    flex-flow:column;
    align-items:center;
    gap:25px;
}
.resultado{
    width:90%;
}
#usuarios{
    width:100%;
    background:black;
    text-align:center;
    font-size:20px;
}
#usuarios,td,th{
    border:solid white 1px;
    border-collapse: collapse;
}